html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.thestuff {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.stuff {
    height: 100%;
    width: 60%;
    overflow: hidden;
}
